html
{
    font-family: "Indie Flower";
    font-size: 16px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden
{
    display: none;
}

#reset
{
    background: url(../images/reset.png) center no-repeat;
    width: 100px;
    height: 100px;
    border: none;
    background-size: cover;
    position: relative;
}


#popup
{
    background: url(../images/information.png) center no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    border: none;
}

#reset:hover, #popup:hover
{
    cursor: pointer;
}

#reset h1
{
    display:none;
}

.popupmenu
{
    width: 70%;
    height: 70%;
    position: fixed;
    left: 15%;
    top: 15%;
    background-color: #E6FFFB;
    z-index: 10;
    display: none;
    text-align: center;
}

.popupmenu h1
{
    font-size: 4em;
    color: #000;
    margin: 30px 0;
}

.popupmenu h2
{
    font-size: 3em;
}

.popupmenu ul
{
    font-size: 2em;
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.show-popupmenu
{display: block;}

.closebox
{
    float:right;
    font-size: 50px;
    margin: 10px 10px 0px 0px;
    color: #ffffff;
}


main
{
    width: 400px;
    margin: 0 auto;
}

.zodiac
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-top: -115px;
}

.zodiac img
{
    padding: 0px 10px 12px 10px;
    margin: 0px 20px 5px 5px;
    cursor: pointer;
}

.zodiac img:hover
{
    transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    opacity: .5;
}


#dropzone
{
	   width: 600px;
    height: 80px;
    position: absolute;
    top: 580px;
    margin-left: 23px;
}

#cloud
{
  width: 650px;
  height: 150px;
  margin-top: 400px;
}

#row1
{
    width: 600px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 277px;
    margin-left: 35px;
}

.delta-mud
{
    width:70px;
    height: 150px;
}


#dropzone img
{ width: 80px ! important;
height: 50px ! important; }
